@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<blockquote>
    <p>Bem-vindo à nossa Política de Privacidade! No [Nome do Site], a proteção dos seus dados pessoais é nossa prioridade. Esta política descreve como coletamos, usamos e protegemos suas informações.</p>

    <p><strong>Informações Coletadas:</strong> Coletamos dados pessoais como nome, e-mail, endereço e informações de navegação (como IP e cookies). Também coletamos dados de pagamento quando você realiza compras.</p>

    <p><strong>Uso das Informações:</strong> Usamos suas informações para processar pedidos, melhorar a experiência no site, enviar atualizações e promover produtos que possam interessá-lo.</p>

    <p><strong>Compartilhamento de Dados:</strong> Não compartilhamos suas informações com terceiros, exceto com prestadores de serviços essenciais para o funcionamento do site, como plataformas de pagamento.</p>

    <p><strong>Cookies:</strong> Usamos cookies para melhorar a navegação no site. Você pode desativar os cookies através das configurações do seu navegador, mas isso pode afetar algumas funcionalidades do site.</p>

    <p><strong>Segurança:</strong> Implementamos medidas de segurança para proteger seus dados, mas não podemos garantir total segurança devido à natureza da internet.</p>

    <p><strong>Seus Direitos:</strong> Você tem direito de acessar, corrigir ou excluir suas informações pessoais. Para mais informações, entre em contato conosco.</p>

    <p><strong>Alterações na Política:</strong> Podemos atualizar esta política ocasionalmente. Recomendamos que você revise esta página periodicamente.</p>

</blockquote>
<hr />
<blockquote>
    
    <p><strong>Contato:</strong> Para dúvidas, entre em contato pelo e-mail: [seu-email@dominio.com].</p>
</blockquote>